fastapi>=0.116.0
uvicorn[standard]>=0.35.0

pydantic>=2.11.0
pydantic-settings>=2.10.0

langgraph>=0.6.0
langchain-core>=0.3.70
langchain-community>=0.3.29
langchain-groq>=0.3.7

duckduckgo-search>=8.1.1
ddgs>=9.5.5

beautifulsoup4>=4.13.4

httpx>=0.28.1
python-dotenv>=1.1.1